In [1]:
## Required packages
import pandas as pd

## Changes Hot Temperatures dataset (Summer months)

The cleaning steps for the Hot Temperatures dataset is as follows:
1. Visualize variables structure and NAN
2. Rename last variable
3. Export to preprocessed_data file

In [2]:
change_hot_temp= pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Wheather_and_climate\High_Low_temperatures\change_hot_temperatures.csv')
change_hot_temp = pd.DataFrame(change_hot_temp)

In [3]:
print("#==============#")
print("Data Type:")
print(change_hot_temp.info())
print("#==============#")
print("Matrix size:")
print(change_hot_temp.shape)
print("#==============#")
print("Missing Values:")
print(change_hot_temp.isna().sum())
print("#==============#")
print("Dataset:")

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1066 entries, 0 to 1065
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      1066 non-null   object
 1   Lat                        1066 non-null   float64
 2   Long                       1066 non-null   float64
 3   Change in 95 percent Days  1066 non-null   float64
dtypes: float64(3), object(1)
memory usage: 33.4+ KB
None
#==============#
Matrix size:
(1066, 4)
#==============#
Missing Values:
State                        0
Lat                          0
Long                         0
Change in 95 percent Days    0
dtype: int64
#==============#
Dataset:

In [ ]:
change_hot_temp

In [4]:
df_change_hot_temp = change_hot_temp.rename(columns={"Change in 95 percent Days":"Change"})
df_change_hot_temp.head(5)

  State      Lat     Long     Change
0    AL  31.0583 -87.0550 -13.590869
1    AL  30.5467 -87.8808   0.000000
2    AL  32.8347 -88.1342   0.000000
3    AL  32.6922 -87.5761 -11.444650
4    AL  31.8814 -86.2503   0.000000

## Hot summer dataset

The cleaning steps for the Hot summer dataset is as follows:
1. Visualize variables structure and NAN
2. Round decimals.
3. Rename Variables.
4. Export to preprocessed_data file

In [5]:
hot_summer= pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Wheather_and_climate\High_Low_temperatures/Hot_summer.csv')
hot_summer = pd.DataFrame(hot_summer)

In [6]:
print("#==============#")
print("Data Type:")
print(hot_summer.info())
print("#==============#")
print("Matrix size:")
print(hot_summer.shape)
print("#==============#")
print("Missing Values:")
print(hot_summer.isna().sum())
print("#==============#")
print("Dataset:")

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        111 non-null    int64
 1   Hot daily highs             111 non-null    float64
 2   Hot daily highs (smoothed)  111 non-null    float64
 3   Hot daily lows              111 non-null    float64
 4   Hot daily lows (smoothed)   111 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 4.5 KB
None
#==============#
Matrix size:
(111, 5)
#==============#
Missing Values:
Year                          0
Hot daily highs               0
Hot daily highs (smoothed)    0
Hot daily lows                0
Hot daily lows (smoothed)     0
dtype: int64
#==============#
Dataset:

In [7]:
df_hot_summer = round(hot_summer,3)

In [8]:
df_hot_summer = df_hot_summer.rename(columns={"Hot daily highs":"Hot_days",
                                              "Hot daily highs (smoothed)":"Hot_days_smoothed",
                                              "Hot daily lows":"Hot_nights",
                                              "Hot daily lows (smoothed)":"Hot_nights_smoothed"})
df_hot_summer.head(2)

   Year  Hot_days  Hot_days_smoothed  Hot_nights  Hot_nights_smoothed
0  1910     0.074              0.072       0.020                0.021
1  1911     0.087              0.073       0.031                0.023

## Exporting Datasets

In [9]:
df_change_hot_temp.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\High_Temperatures\df_change_hot_temp.csv', index = False)

In [10]:
df_hot_summer.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\High_Temperatures\df_hot_summer.csv', index = False)