In [15]:
## Required packages
import pandas as pd

## Preprocessing for the first two datasets

The cleaning step for these datasets just inspects if there are inconcistencies.
1. Visualize variables structure and NAN
2. Export to preprocessed_data file

## Preprocessing for the first two datasets

In [16]:
av_seas_temp = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Wheather_and_climate\Seasonal_Temperatures\Average_seasonal_Temperature.csv')
av_seas_temp = pd.DataFrame(av_seas_temp)

In [17]:
print("#==============#")
print("Data Type:")
print(av_seas_temp.info())
print("#==============#")
print("Matrix size:")
print(av_seas_temp.shape)
print("#==============#")
print("Missing Values:")
print(av_seas_temp.isna().sum())
print("#==============#")
print("Dataset:")
av_seas_temp.head()

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    125 non-null    int64
 1   Winter  125 non-null    float64
 2   Spring  125 non-null    float64
 3   Summer  125 non-null    float64
 4   Fall    125 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 5.0 KB
None
#==============#
Matrix size:
(125, 5)
#==============#
Missing Values:
Year      0
Winter    0
Spring    0
Summer    0
Fall      0
dtype: int64
#==============#
Dataset:

   Year  Winter  Spring  Summer  Fall
0  1896    0.51    0.02    0.55 -2.49
1  1897    0.14   -0.55   -0.46  0.59
2  1898    0.04   -0.33    0.38 -1.77
3  1899   -4.28   -1.54   -0.24  1.02
4  1900   -0.07    0.62    0.70  0.79

In [18]:
changes_anual_temp = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Wheather_and_climate\Seasonal_Temperatures\changes_anual_temperature.csv')
changes_anual_temp = pd.DataFrame(changes_anual_temp)

In [19]:
print("#==============#")
print("Data Type:")
print(changes_anual_temp.info())
print("#==============#")
print("Matrix size:")
print(changes_anual_temp.shape)
print("#==============#")
print("Missing Values:")
print(changes_anual_temp.isna().sum())
print("#==============#")
print("Dataset:")
changes_anual_temp.head()

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Season        4 non-null      object
 1   Total change  4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 192.0+ bytes
None
#==============#
Matrix size:
(4, 2)
#==============#
Missing Values:
Season          0
Total change    0
dtype: int64
#==============#
Dataset:

   Season  Total change
0  Winter      2.806377
1  Spring      1.899581
2  Summer      1.411162
3    Fall      1.375048

## Preprocessing for Changes in Seasonal Temperature datasets

The cleaning step for these dataset are as follows:
1. Visualize variables structure and NAN
2. Useing a inner join with the heat wave changes dataset to obtain latitude and longitude for each State.
2. Export to preprocessed_data file

In [20]:
changes_seas_temp = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Wheather_and_climate\Seasonal_Temperatures\changes_seasonal_temperature.csv')
changes_seas_temp = pd.DataFrame(changes_seas_temp)

In [21]:
print("#==============#")
print("Data Type:")
print(changes_seas_temp.info())
print("#==============#")
print("Matrix size:")
print(changes_seas_temp.shape)
print("#==============#")
print("Missing Values:")
print(changes_seas_temp.isna().sum())
print("#==============#")
print("Dataset:")
changes_seas_temp.head(2)

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   48 non-null     object
 1   Winter  48 non-null     float64
 2   Spring  48 non-null     float64
 3   Summer  48 non-null     float64
 4   Fall    48 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.0+ KB
None
#==============#
Matrix size:
(48, 5)
#==============#
Missing Values:
State     0
Winter    0
Spring    0
Summer    0
Fall      0
dtype: int64
#==============#
Dataset:

  State  Winter  Spring  Summer  Fall
0    AL    0.78   -0.14   -0.59 -0.26
1    AR    0.91    0.51    0.06 -0.15

Loading changes in hot temperature dataset

In [22]:
change_hot_temp = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\High_Temperatures\df_change_hot_temp.csv')
change_hot_temp.shape

(1066, 4)

In [23]:
# Pandas merge function using an inner join
df_changes_seas_temp = pd.merge(changes_seas_temp, change_hot_temp, on ='State', how ="inner")
df_changes_seas_temp.head(2)

  State  Winter  Spring  Summer  Fall      Lat     Long     Change
0    AL    0.78   -0.14   -0.59 -0.26  31.0583 -87.0550 -13.590869
1    AL    0.78   -0.14   -0.59 -0.26  30.5467 -87.8808   0.000000

In [24]:
#Variables Selection
#cols =['State','Winter','Spring','Summer','Fall','Lat','Long']
#df_changes_seas_temp=df_changes_seas_temp[cols]
#df_changes_seas_temp.head()

## Exporting Datasets

In [25]:
av_seas_temp.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\Seasonal_Temperature\av_seas_temp.csv', index = False)

In [26]:
changes_anual_temp.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\Seasonal_Temperature\changes_anual_temp.csv', index = False)

In [27]:
df_changes_seas_temp.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Wheather_and_climate\Seasonal_Temperature\df_changes_seas_temp.csv', index = False)