In [1]:
## Required packages
import pandas as pd # To load and modify Datasets

## 1. Heat-Cardiovascular Dataset

The cleaning steps for the Heat-Cardiovascular dataset is as follows:
1. Visualize variables structure and NAN
2. Rename all variables.
3. Round Variables
4. Export dataset.

In [2]:
heat_cardio = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Health_and_Society\Heat_related_Deaths\heat_cardiovascular_deaths.csv')
heat_cardio = pd.DataFrame(heat_cardio)

In [3]:
print("#==============#")
print("Data Type:")
print(heat_cardio.info())
print("#==============#")
print("Matrix size:")
print(heat_cardio.shape)
print("#==============#")
print("Missing Values:")
print(heat_cardio.isna().sum())
print("#==============#")
print("Dataset:")
heat_cardio.head(2)

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Year                                                                20 non-null     int64
 1   Crude summer death rate per million, general population             20 non-null     float64
 2   Crude summer death rate per million, age 65+ population             20 non-null     float64
 3   Crude summer death rate per million, non-white population           20 non-null     float64
 4   Crude summer death rate per million, non-Hispanic black population  20 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 928.0 bytes
None
#==============#
Matrix size:
(20, 5)
#==============#
Missing Values:
Year                                                                  0
Crude summer death rate per million, general population               0
Crude summer death rate per million, age 65+ population               0
Crude summer death rate per million, non-white population             0
Crude summer death rate per million, non-Hispanic black population    0
dtype: int64
#==============#
Dataset:

,Year,"Crude summer death rate per million, general population","Crude summer death rate per million, age 65+ population","Crude summer death rate per million, non-white population","Crude summer death rate per million, non-Hispanic black population"
0,1999,1.082281,5.977382,2.244184,3.139199
1,2000,0.369552,2.200519,0.798658,1.054377

In [4]:
df_heat_cardio = heat_cardio.rename(columns={"Crude summer death rate per million, general population":"General_Population",
                                              "Crude summer death rate per million, age 65+ population":"age_65+",
                                              "Crude summer death rate per million, non-white population":"White_Population",
                                              "Crude summer death rate per million, non-Hispanic black population": "Afro_American"})
df_heat_cardio.head(2)

   Year  General_Population   age_65+  White_Population  Afro_American
0  1999            1.082281  5.977382          2.244184       3.139199
1  2000            0.369552  2.200519          0.798658       1.054377

In [5]:
df_heat_cardio = round(df_heat_cardio,2)
df_heat_cardio.head(2)

   Year  General_Population  age_65+  White_Population  Afro_American
0  1999                1.08     5.98              2.24           3.14
1  2000                0.37     2.20              0.80           1.05

## 2. Heat-related Deaths Dataset

The cleaning steps for the Heat-related dataset is as follows:
1. Visualize variables structure and NAN
2. Rename variables.
3. Round Variables
4. Export dataset.

In [6]:
heat_related_deaths = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Health_and_Society\Heat_related_Deaths\heat_related_deaths.csv')
heat_related_deaths = pd.DataFrame(heat_related_deaths)

In [7]:
print("#==============#")
print("Data Type:")
print(heat_related_deaths.info())
print("#==============#")
print("Matrix size:")
print(heat_related_deaths.shape)
print("#==============#")
print("Missing Values:")
print(heat_related_deaths.isna().sum())
print("#==============#")
print("Dataset:")
heat_related_deaths.head(4)

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Year                                                    40 non-null     int64
 1   Underlying cause of death (all year)                    40 non-null     float64
 2   Underlying and contributing causes of death (May-Sept)  20 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.1 KB
None
#==============#
Matrix size:
(40, 3)
#==============#
Missing Values:
Year                                                       0
Underlying cause of death (all year)                       0
Underlying and contributing causes of death (May-Sept)    20
dtype: int64
#==============#
Dataset:

,Year,Underlying cause of death (all year),Underlying and contributing causes of death (May-Sept)
0,1979,0.240390,NaN
1,1980,2.872595,NaN
2,1981,0.488044,NaN
3,1982,0.323692,NaN

In [8]:
heat_related_deaths = heat_related_deaths.rename(columns={"Underlying cause of death (all year)":"All_year",
                                                          "Underlying and contributing causes of death (May-Sept)":"May-Sep"})
df_heat_related_deaths = round(heat_related_deaths,2)

In [9]:
df_heat_related_deaths.head(2)

   Year  All_year  May-Sep
0  1979      0.24      NaN
1  1980      2.87      NaN

In this case, we do not replace the NAN values as we want to show in the plots that there were no death records for some years, but it does not mean the number of deaths was zero.

## 3. HD_chicago_95 Dataset

The cleaning steps for the HD_chicago_95 dataset is as follows:
1. Visualize variables structure and NAN
2. Rename variables.
3. Round Variables
4. Export dataset.

In [10]:
HD_chicago_95 = pd.read_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\0.raw_data\Health_and_Society\Heat_related_Deaths\heat_deaths_chicago_1995.csv',encoding='latin-1')
HD_chicago_95 = pd.DataFrame(HD_chicago_95)

In [11]:
print("#==============#")
print("Data Type:")
print(HD_chicago_95.info())
print("#==============#")
print("Matrix size:")
print(HD_chicago_95.shape)
print("#==============#")
print("Missing Values:")
print(HD_chicago_95.isna().sum())
print("#==============#")
print("Dataset:")
HD_chicago_95.head(2)

#==============#
Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Month                              92 non-null     int64
 1   Day                                92 non-null     int64
 2   Year                               92 non-null     int64
 3   Daily deaths, 1995                 92 non-null     int64
 4   Average daily deaths, 1990-2000    92 non-null     float64
 5   Daily high temperature, 1995 (°F)  92 non-null     float64
dtypes: float64(2), int64(4)
memory usage: 4.4 KB
None
#==============#
Matrix size:
(92, 6)
#==============#
Missing Values:
Month                                0
Day                                  0
Year                                 0
Daily deaths, 1995                   0
Average daily deaths, 1990-2000      0
Daily high temperature, 1995 (°F)    0
dtype: int64
#==============#
Dataset:

,Month,Day,Year,"Daily deaths, 1995","Average daily deaths, 1990-2000","Daily high temperature, 1995 (°F)"
0,6,1,1995,164,160.909091,80.06
1,6,2,1995,173,168.181818,75.92

In [12]:
HD_chicago_95 = HD_chicago_95.rename(columns={"Daily deaths, 1995":"1995",
                                                          "Average daily deaths, 1990-2000":"1990-2000",
                                                          "Daily high temperature, 1995 (°F)":"Temp_1995_°F"})
df_HD_chicago_95 = round(HD_chicago_95,2)
df_HD_chicago_95.head(2)

   Month  Day  Year  1995  1990-2000  Temp_1995_°F
0      6    1  1995   164     160.91         80.06
1      6    2  1995   173     168.18         75.92

## Exporting Datasets

In [13]:
df_heat_cardio.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Deaths\df_heat_cardio.csv', index = False)

In [14]:
df_heat_related_deaths.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Deaths\df_heat_related_deaths.csv', index = False)

In [15]:
df_HD_chicago_95.to_csv(r'C:\Users\ricar\OneDrive\Escritorio\Masters_of_Statistics\Semester_6\Modern_Data_Analytics\Project\August_Exam\MDA_August_Project\2.preprocessed_data\Deaths\df_HD_chicago_95.csv', index = False)